.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_store

test
data-raw/_archive
data-raw/disrupt
data-raw/fragile_states_index
data-raw/*.xlsx
data-raw/*.csv

/.quarto/
_extensions/
_quarto.yml
*.qmd
*archive
